.campus{
    margin:80px auto;
    width:90%;
    text-align: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width:23%;
    border-radius: 10px;
    height: 250px;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    gap: 16px;
  }
  .gallery img {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
  }
}