.title{
    text-align: center;
    color:#212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin:70px 0 30px;
}

.title h2{
    font-size: 32px;
    color:#000F38;
    margin-top: 5px;
    text-transform: none;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 12px;
  }
  .section-subtitle {
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
  }
}